In [3]:
# prompt: Lee como dataframe el archivo csv

import pandas as pd

df = pd.read_csv('/content/titanic_procesado.csv')
print(df.head())

   Unnamed: 0  PassengerId  Survived  Pclass  \
0           0            1         0       3
1           1            2         1       1
2           2            3         1       3
3           3            4         1       1
4           4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare
0      0         A/5 21171   7.2500
1      0          PC 17599  71.2833
2      0  STON/O2. 3101282   7.9250
3      0            113803  53.1000
4      0            373450   8.0500

In [4]:
df

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000
4,4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500
...,...,...,...,...,...,...,...,...,...,...,...
886,886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000
887,887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000
888,888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,27.915709,1,2,W./C. 6607,23.4500
889,889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000
890,890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500

In [5]:
# prompt: Crea un dataframe que solo guarde las columnas Pclass, Sex, Age , Survived y SibSp

new_df = df[['Pclass', 'Sex', 'Age', 'Survived', 'SibSp']]
print(new_df.head())

   Pclass     Sex   Age  Survived  SibSp
0       3    male  22.0         0      1
1       1  female  38.0         1      1
2       3  female  26.0         1      0
3       1  female  35.0         1      1
4       3    male  35.0         0      0

Separo las columnas que necesito para X e y

In [6]:
X = new_df.drop('Survived', axis=1)
y = new_df['Survived']

In [7]:
X

     Pclass     Sex        Age  SibSp
0         3    male  22.000000      1
1         1  female  38.000000      1
2         3  female  26.000000      0
3         1  female  35.000000      1
4         3    male  35.000000      0
..      ...     ...        ...    ...
886       2    male  27.000000      0
887       1  female  19.000000      0
888       3  female  27.915709      1
889       1    male  26.000000      0
890       3    male  32.000000      0

[891 rows x 4 columns]

In [8]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

Revisamos la columna Sex

In [10]:
X['Sex'].unique()

array(['male', 'female'], dtype=object)

Categorizar

In [11]:
X['Sex'] = X['Sex'].map({'male': 0, 'female': 1})
X['Sex']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: int64

In [12]:
X

     Pclass  Sex        Age  SibSp
0         3    0  22.000000      1
1         1    1  38.000000      1
2         3    1  26.000000      0
3         1    1  35.000000      1
4         3    0  35.000000      0
..      ...  ...        ...    ...
886       2    0  27.000000      0
887       1    1  19.000000      0
888       3    1  27.915709      1
889       1    0  26.000000      0
890       3    0  32.000000      0

[891 rows x 4 columns]

In [13]:
# prompt: aplica minmax scaler

import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Assuming X is your DataFrame
# Create a MinMaxScaler object
scaler = MinMaxScaler()

# Fit and transform the numerical columns in X
numerical_cols = ['Age', 'SibSp', 'Pclass','Sex']  # Replace with the actual column names
X[numerical_cols] = scaler.fit_transform(X[numerical_cols])

print(X.head())

   Pclass  Sex       Age  SibSp
0     1.0  0.0  0.271174  0.125
1     0.0  1.0  0.472229  0.125
2     1.0  1.0  0.321438  0.000
3     0.0  1.0  0.434531  0.125
4     1.0  0.0  0.434531  0.000

In [14]:
# prompt: une X e y y guardalos en un archivo csv



# Combine X and y into a single DataFrame
combined_df = pd.concat([X, y], axis=1)

# Save the combined DataFrame to a CSV file
combined_df.to_csv('titanic_limpio_procesado.csv', index=False)